* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header {
    height: 130px;
    width: 100%;   
    background-color: rgb(0, 153, 254);
    position:relative;
    border-bottom: 5px black solid;
    text-align: center;
    /* Trying to align text to center */
}
h1 {
    font-size: 90px;
    font-style:inherit;
    font-weight: bolder;
    font-family:fantasy;
    color: rgb(251, 251, 251);
    display: inline-block;
}
.nav{
    display:flex;
    align-items: center;
}
#IMGSEA{
    display: inline;
    height: 250px;
    width: max-content;
}
#InputBox{
    display: flex;
    /* justify-content: end; */
    border-bottom: 5px lightblue solid;
    margin:0 auto;
    display:inline-block;
}

input{
    width: 230px;
    height: 80px;
    display: inline-block;
}
#search-button{
    width: 100px;
}
.parent{
    width:100%;
 border: 5px black solid;
 height: 500px;
}
.leftchild{
    width:50%;
    border: 5px black solid;
    height: 100%;
}
.rightchild{
    width:50%;
    border: 5px black solid;
    height: 100%;
    float:right
}

img #showimage{
    width:auto;
    height:auto;
    max-height: 500%;
    max-width: 100%;
    object-fit: contain;
}

#map{
    height:500px;
    width:2060px
}
